#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
import { useContext } from "react";
import Login from "./Component/Login";
import Dashboard from "./Component/Dashboard";
import { AuthContext } from "./context/AuthContext";

const App = () => {
  const { isLoggedIn } = useContext(AuthContext);

  return isLoggedIn ? <Dashboard /> : <Login />;
};

export default App;